beautifulsoup4>=4.13.4
bs4>=0.0.1
boto3>=1.40.3
greenlet>=3.2.4
importlib-metadata>=4.5.0
lxml>=5.3.2
numpy>=2.3.2
pandas>=2.3.1
psycopg2-binary>=2.9.10
python-dateutil>=2.9.0
python-dotenv>=1.1.1
pytz>=2025.2
requests>=2.32.4
six>=1.17.0
soupsieve>=2.6
SQLAlchemy>=2.0.43
typing-extensions>=4.0.0
tzdata>=2025.2
urllib3>=2.5.0
wget>=3.2
zipp>=3.4.1
random
